language: python

env:
  - DISPLAY=":99.0"

before_install:
  - "sh -e /etc/init.d/xvfb start"

install: 
  - npm install
  - npm install -g bower gulp
  - mkdir .cache
  - bower install
  - pip install -r python.txt
  - echo it stinks

script: 
  - gulp test

