language: python

env:
  - DISPLAY=":99.0"

before_install:
  - "sh -e /etc/init.d/xvfb start"

install: 
  - npm install
  - npm install -g bower gulp
  - mkdir .cache
  - bower install
  - pip install --process-dependency-links  -e .


script: 
  - gulp test

