sudo: required
dist: trusty

env:
  - DISPLAY=":99.0"

before_install:
  - "sh -e /etc/init.d/xvfb start"
  - nvm ls
  - nvm use 4.1
  - npm install -g npm@3

install: 
  - ./build.sh setup
  - createdb carenet_test
  - psql -d carenet_test -f test-db.sql

script: 
  - ./gulp test

