sudo: required
dist: trusty

env:
  - DISPLAY=":99.0"

before_install:
  - "sh -e /etc/init.d/xvfb start"
  - nvm install 0.10
  - npm install -g npm@3

install: 
  - ./build.sh setup
  - createdb crowdtest
  - psql -d crowdtest -f crowd-test.sql

script: 
  - ./gulp test

