h1 {
  color: #060;
}

#global-status {
  background-color: #eee;
  font-weight: bold;
  font-size: small;
  font-family: monospace;
  padding: 0.2ex;
  text-align: center;
  border-bottom: 1px solid;
}

#global-status div {
  display: inline-block;
}

.staging #global-status,
.devel #global-status {
}

.devel #global-status {
  color: #999;
  border-color: #999;
  background-color: #eee;
}

.staging #global-status {
  border-color: #900;
  color: #900;
}

.live #global-status {
  color: brown;
  border-color: brown;
  background-color: #fe6;
}

.connection-notice {
  border: 1px solid #333;
  padding: 0 0.5ex;
}

.online .connection-notice {
  border-color: #090;
  color: #090;
}

.offline .connection-notice {
  border-color: #900;
  color: #900;
}

.logout-link {
  padding-left: 1em;
}

body.modal {
  background-color: #999;
}

.modal {
  display: block;
}

.x-modal {
  position: absolute;
  top: 18px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  background-color: #999;
}

.x-modal-dialog {
  width: 98%;
  margin: 1ex auto;
  min-width: 280px;
}

.x-modal-narrow {
  margin: 1ex auto;
  min-width: 280px;
  max-width: 40%;
}

.modal-header h4 {
  margin: 0;
}

.modal-header h4 small {
  display: block;
}

input.form-control,
textarea.form-control {
  font-family: monospace;
}

input.form-control:focus,
textarea.form-control:focus {
  background-color: ivory
}

a[ng-click] {
  cursor: pointer;
}

