h1 {
  color: #060;
}

#series-notice {
  background-color: #eee;
  font-weight: bold;
  font-size: small;
  font-family: monospace;
  padding: 0.2ex;
  text-align: center;
  border-bottom: 1px solid;
}

.staging #series-notice,
.devel #series-notice {
}

.devel #series-notice {
  color: #999;
  border-color: #999;
  background-color: #eee;
}

.staging #series-notice {
  border-color: #900;
  color: #900;
}

.live #series-notice {
  color: brown;
  border-color: brown;
  background-color: #fe6;
}
